#Editors
.idea
*.iml
.fleet
.vscode
.vs
nbproject
/.project
/.settings
/.buildpath
*.sublime-project
*.sublime-workspace

#Composer and npm packages
vendor
node_modules
composer.lock
package-lock.json

#Php unit 
.phpunit.result.cache
phpunit.xml.bak
#/coverage

#Windows
Thumbs.db

#Misc
*.cache
/logs
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/stubs